.message {
	text-align: center;
	height: 4rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.message--success {
	background-color: #f4fce3;
}

.message--error {
	background-color: #ffa8a8;
}

.message strong {
	font-size: 1.6rem;
}
