html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 62.5%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.centered {
	display: flex;
	justify-content: center;
}

/* flash text */
.flash-text .message {
	text-align: center;
	height: 4rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flash-text .message--success {
	background-color: #f4fce3;
}

.flash-text .message--error {
	background-color: #ffa8a8;
}

.flash-text .message strong {
	font-size: 1.6rem;
}
